{{!-- question.handlebars --}}
<link rel="stylesheet" href="question.css">
<h3>Question</h3>
<h4 id="question" class="text">{{question}}</h4>
<form action="/questions" method="post">
  <button name="answer" value="True" id="trueBtn" class="button">{{true}}true</button>
  <button name="answer" value="False" id="falseBtn" class="button">{{false}}false</button>
</form>

<h1>{{result}}</h1>