<h3>Welcome</h3>
<form action="/" method="post">
  <p>
    <label for="cars">Number of questions:</label>
    <input type="text" name="number" id="input" placeholder="number of questions">
  </p>
  <p>
    <label for="cars">Choose a Category:</label>
    <select name="number" class="dropdown-content">
      <option value="11">Film</option>
      <option value="12">Music</option>
      <option value="15">Video Games</option>
      <option value="21">Sports</option>
      <option value="23">History</option>
      <option value="22">Geography</option>
    </select>
  </p>
  <p>
    <label for="cars">Choose a Difficultly:</label>
    <select name="number" class="dropdown-content">
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
    </select>
  </p>
  <p> <button type="submit">Submit</button> </p>

</form>